@page
@model MyGL.Pages.FY.IndexModel
@{
    ViewData["Title"] = "Financial Year Report";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="FYs" class="control-label"></label>
        <select asp-for="SelectedFY" class="form-control" asp-items="Model.FYs">
        </select>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Go" class="btn btn-primary" />
    </div>
</form>
<br />
<div>
    <h3>@Model.SelectedFY</h3>
    <ejs-pivotview id="PivotView" height="1000" width="1500" ShowFieldList="true" enableVirtualization="true">
        <e-datasourcesettings dataSource="@ViewBag.DataSource" expandAll="false" enableSorting="true">
            <e-drilledmembers>
                <e-field name="FinancialQuarterFormat" items="@ViewBag.DrilledMembers"></e-field>
            </e-drilledmembers>
            <e-formatsettings>
                <e-field name="Amount" format="C0" maximumSignificantDigits="10" minimumSignificantDigits="1" useGrouping="true"></e-field>
            </e-formatsettings>
            <e-rows>
                <e-field name="CategoryName" caption="Category"></e-field>
                <e-field name="SubCategory" caption="Sub Category"></e-field>
            </e-rows>
            <e-columns>
                <e-field name="FinancialQuarterFormat" caption="FQ" showSubTotals="false"></e-field>
                <e-field name="MonthNameShortFormat" caption="Month"></e-field>
            </e-columns>
            <e-values>
                <e-field name="Amount" caption="Amount"></e-field>
            </e-values>
        </e-datasourcesettings>
    </ejs-pivotview>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
