@page
@model MyGL.Pages.Reports.Index.IndexModel
@{ ViewData["Title"] = "Reports"; }

<h1>@ViewData["Title"]</h1>

<li>
    <a asp-page="./GLFY">General Ledger - Financial Year Report</a>
</li>
<li>
    <a asp-page="./GLFYAll">General Ledger - All Financial Years Report</a>
</li>
<li>
    <a asp-page="./GLYr">General Ledger - Calendar Year Report</a>
</li>
<li>
    <a asp-page="./GLYrAll">General Ledger - All Calendar Years Report</a>
</li>
<li>
    <a asp-page="./Transactions">Transactions</a>
</li>
<div asp-validation-summary="All" class="text-danger"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
