@page
@model MyGL.Pages.Reports.Index.IndexModel
@{ ViewData["Title"] = "Reports"; }

<h1>@ViewData["Title"]</h1>

<li>
    <a asp-page="./FY">Financial Year</a>
</li>
<li>
    <a asp-page="./AllByFY">All By Financial Year</a>
</li>
<li>
    <a asp-page="./Yr">Calendar Year</a>
</li>
<li>
    <a asp-page="./AllByYr">All By Calendar Year</a>
</li>
<li>
    <a asp-page="./Transactions">Transactions</a>
</li>
<div asp-validation-summary="All" class="text-danger"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
